In [2]:
import pandas as pd
from pandas import Series, DataFrame

In [4]:
df = DataFrame({ 'col1': [5,10,15],
                'col2': [20,25,30],
                'col3':[15,30,35]
})
df

   col1  col2  col3
0     5    20    15
1    10    25    30
2    15    30    35

In [10]:
dic = {5: 500,
      10: 1000,
      15: 1500}
dic

{5: 500, 10: 1000, 15: 1500}

In [11]:
df['dic'] = df['col1'].map(dic)
df

   col1  col2  col3   dic
0     5    20    15   500
1    10    25    30  1000
2    15    30    35  1500