In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [4]:
s1 = Series(np.arange(100,400,100))
s1

0    100
1    200
2    300
dtype: int32

In [5]:
s1[2]

300

In [7]:
#Access multiple element of series
s1[[0,2]]

0    100
2    300
dtype: int32

In [8]:
#Condition Indexes
s1[s1>250]

2    300
dtype: int32

In [9]:
#access one or more column from a DataFrame

In [10]:
df1 = DataFrame(np.arange(9).reshape(3,3))
df1

   0  1  2
0  0  1  2
1  3  4  5
2  6  7  8

In [14]:
df1[0]

0    0
1    3
2    6
Name: 0, dtype: int32

In [16]:
df1[[0,2]]

   0  2
0  0  2
1  3  5
2  6  8

In [19]:
#Boolean Operation in DataFrame
df1

   0  1  2
0  0  1  2
1  3  4  5
2  6  7  8

In [18]:
df1 > 5

       0      1      2
0  False  False  False
1  False  False  False
2   True   True   True

In [21]:
#Access rows in df
df1.loc[1]

0    3
1    4
2    5
Name: 1, dtype: int32

In [22]:
#access an element
df1.loc[1,2]

5