In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [3]:
!pip install xlrd
!pip install openpyxl

Requirement already satisfied: xlrd in c:\users\legion\anaconda3\lib\site-packages (2.0.1)
Requirement already satisfied: openpyxl in c:\users\legion\anaconda3\lib\site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in c:\users\legion\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [8]:
exelfile = pd.ExcelFile('Time Table.xlsx')
exelfile

In [11]:
df1 = exelfile.parse('Sheet1')
df1

,Unnamed: 0,8:00-8:50,8:50-9:40,9:45-10:35,10:40-11:30,11:35-12:25,12:30-1:20,1:25-2:15,2:20-03:10,3:15-4:05,4:05-4:55
0,DAY 1,NaN,NaN,Water Pollution,Water Pollution,NaN,NaN,NaN,NaN,NaN,NaN
1,DAY 2,NaN,NaN,NaN,NaN,NaN,Wireless,Wireless,NaN,NaN,NaN
2,DAY 3,NaN,NaN,NaN,Database,Wireless,NaN,NaN,NaN,NaN,NaN
3,DAY 4,NaN,NaN,NaN,NaN,NaN,Database,Database,NaN,NaN,NaN
4,DAY 5,NaN,NaN,NaN,Water Pollution,Database,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,Wireless and Mobile Communication,TP 403,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,Database Security and Privacy,TP 206,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,Water Pollution and its Management,TP 203,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,9:00-9:50,9:50-10:40,10:50-11:40,11:40-12:30,12:30-1:20,1:20-2:10,2:10-3:00,3:00-3:50,NaN,NaN
18,DAY 1,Networks,Networks,Automata,Automata,NaN,NaN,Math,NaN,NaN,NaN
19,DAY 2,Data,Data,Nanotech,NaN,NaN,information,NaN,NaN,NaN,NaN
20,DAY 3,NaN,NaN,Networks,ITK,NaN,Data,Math,Math,NaN,NaN
21,DAY 4,information,information,Data,NaN,NaN,Nanotech,CN lab,CN lab,NaN,NaN
22,DAY 5,Logical,Logical,NaN,Automata,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df1.dropna()
df1

,Unnamed: 0,8:00-8:50,8:50-9:40,9:45-10:35,10:40-11:30,11:35-12:25,12:30-1:20,1:25-2:15,2:20-03:10,3:15-4:05,4:05-4:55
0,DAY 1,NaN,NaN,Water Pollution,Water Pollution,NaN,NaN,NaN,NaN,NaN,NaN
1,DAY 2,NaN,NaN,NaN,NaN,NaN,Wireless,Wireless,NaN,NaN,NaN
2,DAY 3,NaN,NaN,NaN,Database,Wireless,NaN,NaN,NaN,NaN,NaN
3,DAY 4,NaN,NaN,NaN,NaN,NaN,Database,Database,NaN,NaN,NaN
4,DAY 5,NaN,NaN,NaN,Water Pollution,Database,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,Wireless and Mobile Communication,TP 403,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,Database Security and Privacy,TP 206,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,Water Pollution and its Management,TP 203,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,9:00-9:50,9:50-10:40,10:50-11:40,11:40-12:30,12:30-1:20,1:20-2:10,2:10-3:00,3:00-3:50,NaN,NaN
18,DAY 1,Networks,Networks,Automata,Automata,NaN,NaN,Math,NaN,NaN,NaN
19,DAY 2,Data,Data,Nanotech,NaN,NaN,information,NaN,NaN,NaN,NaN
20,DAY 3,NaN,NaN,Networks,ITK,NaN,Data,Math,Math,NaN,NaN
21,DAY 4,information,information,Data,NaN,NaN,Nanotech,CN lab,CN lab,NaN,NaN
22,DAY 5,Logical,Logical,NaN,Automata,NaN,NaN,NaN,NaN,NaN,NaN